<div data-ng-controller="nvd3Ctrl">
  <div class="row mb25">
    <div class="col-xs-12">
      <div class="panel">
        <div class="panel-heading border">
          Line chart
        </div>
        <div class="panel-body">
          <div class="line-chart">
            <nvd3 options='options1' data='data1'></nvd3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb25">
    <div class="col-xs-12">
      <div class="panel">
        <div class="panel-heading border">
          DiscreteBar chart
        </div>
        <div class="panel-body">
          <nvd3 options="options2" data="data2"></nvd3>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel">
        <div class="panel-heading border">
          Multibar horizontal chart
        </div>
        <div class="panel-body">
          <nvd3 options="options3" data="data3"></nvd3>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb25">
    <div class="col-xs-12">
      <div class="panel">
        <div class="panel-heading border">
          Scatter chart
        </div>
        <div class="panel-body">
          <nvd3 options="options4" data="data4"></nvd3>
        </div>
      </div>
    </div>
  </div>
</div>
