<div class="row" data-ng-controller="c3Ctrl">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-heading border">
        C3 chart demo
      </div>
      <div class="panel-body">
        <div class="c3chart">
          <ng-c3 chart-id="chartId" series="chart.series" options="chart.options"></ng-c3>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-heading border">
        C3 chart demo
      </div>
      <div class="panel-body">

        <ng-c3 class="c3chart" chart-id="chartId2" series="chart2.series" options="chart2.options"></ng-c3>

      </div>
    </div>
  </div>
</div>
