<div class="row" data-ng-controller="easyChartCtrl">
  <div class="col-md-6 col-lg-4">
    <div class="panel bg-danger">
      <div class="panel-heading border">
        Bounce rate
      </div>
      <div class="panel-body text-center">
        <div class="piechart m25">
          <div class="bounce_pie" easypiechart options="options1" percent="percent1">
            <div>
              <div class="percent h1"></div>
              <small>Bounce Rate</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="panel bg-success">
      <div class="panel-heading border">
        Signup rate
      </div>
      <div class="panel-body text-center">
        <div class="piechart m25">
          <div class="total" easypiechart options="options2" percent="percent2">
            <div>
              <div class="percent h1"></div>
              <small>New user signup Rate</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="panel bg-info">
      <div class="panel-heading border">
        Visitors
      </div>
      <div class="panel-body text-center">
        <div class="piechart m25">
          <div class="dailyvisitors" easypiechart options="options3" percent="percent3">
            <div>
              <div class="percent h1"></div>
              <small>Daily visitors</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="panel bg-warning">
      <div class="panel-heading border">
        New Visitors
      </div>
      <div class="panel-body text-center">
        <div class="piechart m25">
          <div class="newvisitors" easypiechart options="options4" percent="percent4">
            <div>
              <div class="percent h1"></div>
              <small>Percentage new visitors</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="panel bg-primary">
      <div class="panel-heading border">
        Server Nodes
      </div>
      <div class="panel-body text-center">
        <div class="piechart m25">
          <div class="servernodes" easypiechart options="options5" percent="percent5">
            <div>
              <div class="percent h1"></div>
              <small>New servers nodes created</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="panel bg-blue">
      <div class="panel-heading border">
        junk Files
      </div>
      <div class="panel-body text-center">
        <div class="piechart m25">
          <div class="junkfiles" easypiechart options="options6" percent="percent7">
            <div>
              <div class="percent h1"></div>
              <small>Junk files purged</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
