<div data-ng-controller="chartjsCtrl">
  <div class="row mb25">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading border">
          Bar chart
        </div>
        <div class="panel-body">
          <div class="canvas-holder">
            <canvas barchart options="barOptions" data="barData"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb25">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading border">
          Line chart
        </div>
        <div class="panel-body">
          <div class="canvas-holder">
            <canvas linechart options="lineOptions" data="lineData"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 mb25">
      <div class="panel">
        <div class="panel-heading border">
          Area chart
        </div>
        <div class="panel-body">
          <div class="canvas-holder">
            <canvas polarchart options="polarOptions" data="polarData"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb25">
      <div class="panel">
        <div class="panel-heading border">
          Radar chart
        </div>
        <div class="panel-body">
          <div class="canvas-holder">
            <canvas radarchart options="radarOptions" data="radarData"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb25">
      <div class="panel">
        <div class="panel-heading border">
          Donut chart
        </div>
        <div class="panel-body">
          <div class="canvas-holder">
            <canvas doughnutchart options="doughnutOptions" data="doughnutData"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 mb25">
      <div class="panel">
        <div class="panel-heading border">
          Polar chart
        </div>
        <div class="panel-body">
          <div class="canvas-holder">
            <canvas piechart options="pieOptions" data="pieData"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
