<div class="timeline">

  <div class="timeline-panel">
    <div class="timeline-icon bg-danger">
      <i class="fa fa-bell"></i>
    </div>

    <section class="timeline-content">
      <div class="timeline-heading border">
        Message from Rachael
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum.</p>
      <p>Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <div class="timeline-date">13:12 am</div>
    </section>
  </div>

  <div class="timeline-panel">
    <div class="timeline-icon bg-info">
      <i class="fa fa-user"></i>
    </div>

    <section class="timeline-content">

      <a href="#" class="pb5">
        <em>@Envato</em>
      </a>
      <small>Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus.</small>

      <div class="timeline-date">13:12 am</div>
    </section>
  </div>

  <div class="timeline-panel">
    <div class="timeline-icon bg-primary">
      <i class="fa fa-calendar"></i>
    </div>
    <section class="timeline-content">
      <a class="pull-left" href="javascript:;">
        <img class="avatar avatar-md img-circle mr15" data-ng-src="images/avatar.jpg" alt="">
      </a>
      <div class="overflow-hidden">
        <div class="h6 no-margin">
          <a href="javascript:;"><strong>Jane Doe</strong></a>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
      </div>
      <div class="timeline-date">13:12 am</div>
    </section>
  </div>

  <div class="timeline-panel">
    <div class="timeline-icon bg-warning">
      <i class="fa fa-photo"></i>
    </div>
    <section class="timeline-content">
      <div class="timeline-heading border">
        Profile updates
      </div>
      <p>3 more people joined your campaign.</p>
      <div class="timeline-date">13:12 am</div>
    </section>
  </div>

  <div class="timeline-panel">
    <div class="timeline-icon bg-success">
      <i class="fa fa-video-camera"></i>
    </div>
    <section class="timeline-content">
      <div class="timeline-heading border">
        New friend list
      </div>
      <div class="clearfix">
        <a href="javascript:;">
          <img alt="" class="pull-left mr5 avatar avatar-xs img-circle" data-ng-src="images/face1.jpg">
        </a>
        <a href="javascript:;">
          <img alt="" class="pull-left mr5 avatar avatar-xs img-circle" data-ng-src="images/face5.jpg">
        </a>
        <a href="javascript:;">
          <img alt="" class="pull-left mr5 avatar avatar-xs img-circle" data-ng-src="images/face3.jpg">
        </a>
        <a href="javascript:;">
          <img alt="" class="pull-left mr5 avatar avatar-xs img-circle" data-ng-src="images/face4.jpg">
        </a>
        <a href="javascript:;">
          <img alt="" class="pull-left mr5 avatar avatar-xs img-circle" data-ng-src="images/avatar.jpg">
        </a>

        <a href="javascript:;" class="pull-left btn btn-primary btn-round">
                        (+34)
                </a>
      </div>
      <div class="timeline-date">13:12 am</div>
    </section>
  </div>

  <div class="timeline-panel">
    <div class="timeline-icon bg-default">
      <i class="fa fa-send"></i>
    </div>
  </div>

</div>
