<div class="row" data-ng-controller="sortableCtrl">
  <div class="col-sm-6">
    <ul class="sortable-list connectedSortable" ui-jq="sortable" ui-options="sortableOpt">
      <li>
        <span class="badge bg-success pull-right">6</span>
        <i class="fa fa-home mr10"></i>Home
      </li>
      <li>
        <span class="badge bg-warning pull-right">8</span>
        <i class="fa fa-inbox mr10"></i>Mailbox
      </li>
      <li>
        <span class="badge bg-danger pull-right">2</span>
        <i class="fa fa-group mr10"></i>Group
      </li>
      <li>
        <i class="fa fa-picture-o mr10"></i>Pictures</li>
      <li>
        <span class="badge bg-primary pull-right">2</span>
        <i class="fa fa-star mr10"></i>Sales
      </li>
      <li>
        <i class="fa fa-cog mr10"></i>Settings</li>
    </ul>
  </div>
  <div class="col-sm-6">
    <ul class="sortable-list connectedSortable" ui-jq="sortable" ui-options="sortableOpt">
      <li>
        Nullam id dolor id nibh ultricies vehicula ut id elit.
      </li>
      <li>
        Cras mattis consectetur purus sit amet fermentum.
      </li>
      <li>
        Maecenas faucibus mollis interdum.
      </li>
      <li>
        Vestibulum id ligula porta felis euismod semper.
      </li>
      <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </li>
      <li>
        Curabitur blandit tempus porttitor.
      </li>
    </ul>
  </div>
</div>
