<div class="mb15 clearfix">
  <div class="pull-right text-right">
    <i class="fa fa-diamond fa-4x mb20"></i>
    <p>01 April 2015</p>
    <h5 class="text-uppercase">Invoice #0001</h5>
    <small>Payment due by 01 May 2015</small>
  </div>
  <div class="w150">
    <button type="button" class="btn btn-danger btn-block text-left no-print mb15" onclick="window.print();">
      <i class="ti-printer mr5"></i>Print
    </button>

    <button type="button" class="btn btn-info btn-block text-left no-print">Export to PDF</button>
  </div>
</div>

<div class="row mb15">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-6">
        <address class="no-margin">
                    <strong>Billed To:</strong><br>
                    John Smith<br>
                    1234 Main<br>
                    Apt. 4B<br>
                    Springfield, ST 54321
                </address>
      </div>
      <div class="col-xs-6 text-right">
        <address class="no-margin">
                    <strong>Shipped To:</strong><br>
                    Jane Smith<br>
                    1234 Main<br>
                    Apt. 4B<br>
                    Springfield, ST 54321
                </address>
      </div>
    </div>
  </div>
</div>

<div class="row mb15">
  <div class="col-xs-6">
    <address>
            <strong>Payment Method:</strong><br>
            Visa ending **** 4242<br>
            jsmith@email.com
        </address>
  </div>
  <div class="col-xs-6 text-right">
    <address>
            <strong>Order Date:</strong><br>
            March 7, 2015<br><br>
        </address>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-bordered bl br">
    <thead>
      <tr>
        <th>Description</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Monthly web updates for http://www.themeforest.net
        </td>
        <td>
          $250.00
        </td>
        <td>
          1
        </td>
        <td>
          $250.00
        </td>
      </tr>
      <tr>
        <td>
          Monthly dedicated VPN web hosting (1 Jan - 30 Jan, 2014)
        </td>
        <td>
          $650.00
        </td>
        <td>
          1
        </td>
        <td>
          $650.00
        </td>
      </tr>
      <tr>
        <td>
          2 year domain name purchase
        </td>
        <td>
          $239.99
        </td>
        <td>
          3
        </td>
        <td>
          $719.97
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="invoice-totals">
  <div class="invoice-totals-row">
    <strong class="invoice-totals-title">Subtotal</strong>
    <span class="invoice-totals-value">$1619.97</span>
  </div>
  <div class="invoice-totals-row">
    <strong class="invoice-totals-title">Total</strong>
    <span class="invoice-totals-value">$1619.97</span>
  </div>
  <div class="invoice-totals-row">
    <strong class="invoice-totals-title">Amount Paid</strong>
    <span class="invoice-totals-value">$0.00</span>
  </div>
  <div class="invoice-totals-row">
    <strong class="invoice-totals-title">Amount Due</strong>
    <span class="invoice-totals-value">$1619.97</span>
  </div>
</div>

<hr>
<div class="clearfix mb15">
  <p class="bold small">PAYMENT TERMS AND POLICIES</p>
  <small>All accounts are to be paid within 7 days from receipt of invoice. To be paid by cheque or credit card or direct payment online. If account is not paid within 7 days the credits details supplied as confirmation of work undertaken will be charged the agreed
quoted fee noted above. If the Invoice remails unpaid. our dept recovery agency, Urban, may charge you a fee of 25% of the unpaid portion of the
invoice amount and other legal and collection costs not covered by the fee. </small>
</div>
