<form class="mb25">
  <input type="text" class="form-control input-lg" placeholder="Search...">
</form>

<div class="row">
  <div class="col-sm-8">
    <div class="panel">
      <div class="panel-body">
        <h4>Images for sublime template</h4>
        <div class="image-results">
          <a href="javascript:;" class="image-link">
            <img data-ng-src="http://placeimg.com/300/300?1" alt="" class="img-responsive">
          </a>
          <a href="javascript:;" class="image-link">
            <img data-ng-src="http://placeimg.com/300/300?2" alt="" class="img-responsive">
          </a>
          <a href="javascript:;" class="image-link">
            <img data-ng-src="http://placeimg.com/300/300?3" alt="" class="img-responsive">
          </a>
          <a href="javascript:;" class="image-link">
            <img data-ng-src="http://placeimg.com/300/300?4" alt="" class="img-responsive">
          </a>
        </div>
      </div>
    </div>

    <div class="panel">
      <div class="panel-body">
        <div class="search-results">
          <ul class="search-results-list">
            <li class="search-result">
              <h5>
                                <a href="javascript:;" class="text-info">Sublime - Web Application Admin Dashboard</a>
                            </h5>
              <a href="javascript:;" class="search-link">http://themeforest.net/user/iamnyasha</a>
              <p>Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            </li>
            <li class="search-result">
              <h5>
                                <a href="javascript:;" class="text-info">Sublime - Web Application Admin Dashboard</a>
                            </h5>
              <a href="javascript:;" class="search-link">http://themeforest.net/user/iamnyasha</a>
              <p>Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            </li>
            <li class="search-result">
              <h5>
                                <a href="javascript:;" class="text-info">Sublime - Web Application Admin Dashboard</a>
                            </h5>
              <a href="javascript:;" class="search-link">http://themeforest.net/user/iamnyasha</a>
              <p>Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            </li>
            <li class="search-result">
              <h5>
                                <a href="javascript:;" class="text-info">Sublime - Web Application Admin Dashboard</a>
                            </h5>
              <a href="javascript:;" class="search-link">http://themeforest.net/user/iamnyasha</a>
              <p>Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            </li>
            <li class="search-result">
              <h5>
                                <a href="javascript:;" class="text-info">Sublime - Web Application Admin Dashboard</a>
                            </h5>
              <a href="javascript:;" class="search-link">http://themeforest.net/user/iamnyasha</a>
              <p>Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            </li>
          </ul>
          <div class="text-center">
            <ul class="pagination">
              <li>
                <a href="javascript:;">←</a>
              </li>
              <li class="active">
                <a href="javascript:;">1</a>
              </li>
              <li>
                <a href="javascript:;">2</a>
              </li>
              <li>
                <a href="javascript:;">3</a>
              </li>
              <li>
                <a href="javascript:;">4</a>
              </li>
              <li>
                <a href="javascript:;">5</a>
              </li>
              <li>
                <a href="javascript:;">→</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel">
      <div class="panel-body">
        <h3 class="mt0 mb0">Widget Corp.</h3>
        <p class="text-muted">Consumer electronics company</p>
        <p>Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui.</p>
        <p><b>CEO:</b> Tim Cook</p>
        <p><b>Founded:</b> April 1, 1976</p>
        <p><b>Founders:</b> Steve Jobs, Ronald Wayne, Steve Wozniak</p>
        <p><b>Stock price:</b> AAPL (NASDAQ) US$122.33 <span class="text-danger">-2.18 (-1.75%)</span>
        </p>
      </div>
    </div>
  </div>
</div>
