<div class="panel mb25">
  <div class="panel-heading border">
    Default form elements
  </div>
  <div class="panel-body">
    <div class="row no-margin">
      <div class="col-lg-12">
        <form class="form-horizontal bordered-group" role="form">
          <div class="form-group">
            <label class="col-sm-2 control-label">Default</label>
            <div class="col-sm-10">
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Help text</label>
            <div class="col-sm-10">
              <input type="text" class="form-control">
              <p class="help-block">Example block-level help text here.</p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Rounded</label>
            <div class="col-sm-10">
              <input type="text" class="form-control input-rounded">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Placeholder</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Placeholder">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Focused input</label>
            <div class="col-sm-10">
              <input class="form-control" id="focusedInput" type="text" value="This is focused">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Disabled input</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" placeholder="Disabled input here" disabled="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">File input</label>
            <div class="col-sm-10">
              <input type="file">
              <p class="help-block">Example block-level help text here.</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Textarea</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="3"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Static control</label>
            <div class="col-sm-10">
              <p class="form-control-static">email@example.com</p>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
          </div>

          <div class="form-group has-success has-feedback">
            <label class="control-label col-sm-2" for="inputSuccess2">Input with success</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status">
              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              <span id="inputSuccess2Status" class="sr-only">(success)</span>
            </div>
          </div>

          <div class="form-group has-warning has-feedback">
            <label class="control-label col-sm-2" for="inputWarning2">Input with warning</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputWarning2" aria-describedby="inputWarning2Status">
              <span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
              <span id="inputWarning2Status" class="sr-only">(warning)</span>
            </div>
          </div>

          <div class="form-group has-error has-feedback">
            <label class="control-label col-sm-2" for="inputError2">Input with error</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputError2" aria-describedby="inputError2Status">
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              <span id="inputError2Status" class="sr-only">(error)</span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Checkboxes</label>
            <div class="col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox">Unchecked</label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" checked="">Checked</label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" disabled="">Disabled Unchecked</label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" disabled="" checked="">Disabled Checked</label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Radio boxes</label>

            <div class="col-sm-10">
              <div class="radio">
                <label>
                  <input type="radio">Unchecked</label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" disabled="">Disabled radio</label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" disabled="" checked="">Disabled selected</label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Input Select</label>

            <div class="col-sm-10">

              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>

              <h6>Multiple select</h6>

              <select multiple class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Height Sizing</label>
            <div class="col-sm-10">

              <input class="form-control mb15 input-lg" type="text" placeholder=".input-lg">

              <input class="form-control mb15" type="text" placeholder="Default input">

              <input class="form-control mb15 input-sm" type="text" placeholder=".input-sm">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Column Sizing</label>

            <div class="col-sm-10">
              <div class="row">
                <div class="col-xs-2">
                  <input type="text" class="form-control" placeholder=".col-xs-2">
                </div>
                <div class="col-xs-3">
                  <input type="text" class="form-control" placeholder=".col-xs-3">
                </div>
                <div class="col-xs-4">
                  <input type="text" class="form-control" placeholder=".col-xs-4">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="panel">
  <div class="panel-heading border">
    Form input groups
  </div>
  <div class="panel-body mb25">
    <div class="row no-margin">
      <div class="col-lg-12">
        <form class="form-horizontal bordered-group" role="form">


          <div class="form-group">
            <label class="col-sm-2 control-label">Input Groups</label>

            <div class="col-sm-10">

              <div class="input-group mb15">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" placeholder="Username">
              </div>

              <div class="input-group mb15">
                <input type="text" class="form-control">
                <span class="input-group-addon">.00</span>
              </div>

              <div class="input-group mb15">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control">
                <span class="input-group-addon">.00</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Input Groups</label>

            <div class="col-sm-10">
              <div class="input-group input-group-lg mb15">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" placeholder="Username">
              </div>

              <div class="input-group mb15">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" placeholder="Username">
              </div>

              <div class="input-group input-group-sm mb15">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" placeholder="Username">
              </div>

            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Checkboxes and radio addons</label>
            <div class="col-sm-10">

              <div class="input-group mb15">
                <span class="input-group-addon">
                                    <input type="checkbox">
                                </span>
                <input type="text" class="form-control">
              </div>

              <div class="input-group mb15">
                <span class="input-group-addon">
                                    <input type="radio">
                                </span>
                <input type="text" class="form-control">
              </div>

            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Button addons</label>
            <div class="col-sm-10">
              <div class="input-group mb15">
                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Go!</button>
                                </span>
                <input type="text" class="form-control bl0">
              </div>

              <div class="input-group mb15">
                <input type="text" class="form-control br0">
                <span class="input-group-btn">
                                    <button class="btn btn-info" type="button">Go!</button>
                                </span>
              </div>

              <div class="input-group mb15">
                <div class="input-group-btn" dropdown>
                  <button type="button" class="btn btn-success dropdown-toggle" dropdown-toggle>Action
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="javascript:;">Action</a>
                    </li>
                    <li>
                      <a href="javascript:;">Another action</a>
                    </li>
                    <li>
                      <a href="javascript:;">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="javascript:;">Separated link</a>
                    </li>
                  </ul>
                </div>
                <!-- /btn-group -->
                <input type="text" class="form-control bl0">
              </div>
              <!-- /input-group -->

              <div class="input-group mb15">
                <input type="text" class="form-control br0">
                <div class="input-group-btn" dropdown>
                  <button type="button" class="btn btn-danger dropdown-toggle" dropdown-toggle>Action
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu pull-right">
                    <li>
                      <a href="javascript:;">Action</a>
                    </li>
                    <li>
                      <a href="javascript:;">Another action</a>
                    </li>
                    <li>
                      <a href="javascript:;">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="javascript:;">Separated link</a>
                    </li>
                  </ul>
                </div>
                <!-- /btn-group -->
              </div>
              <!-- /input-group -->

            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Segmented buttons</label>
            <div class="col-sm-10">

              <div class="input-group mb15">
                <div class="input-group-btn" dropdown>
                  <button type="button" class="btn btn-default" tabindex="-1">Action</button>
                  <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle tabindex="-1">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a href="javascript:;">Action</a>
                    </li>
                    <li>
                      <a href="javascript:;">Another action</a>
                    </li>
                    <li>
                      <a href="javascript:;">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="javascript:;">Separated link</a>
                    </li>
                  </ul>
                </div>
                <input type="text" class="form-control">
              </div>

              <div class="input-group mb15">
                <input type="text" class="form-control">
                <div class="input-group-btn" dropdown>
                  <button type="button" class="btn btn-default" tabindex="-1">Action</button>
                  <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle tabindex="-1">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                      <a href="javascript:;">Action</a>
                    </li>
                    <li>
                      <a href="javascript:;">Another action</a>
                    </li>
                    <li>
                      <a href="javascript:;">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="javascript:;">Separated link</a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
