<div class="panel" data-ng-controller="tableCtrl">
  <div class="panel-heading border">
    <ol class="breadcrumb mb0 no-padding">
      <li>
        <a href="javascript:;">Home</a>
      </li>
      <li>
        <a href="javascript:;">Tables</a>
      </li>
      <li class="active">Data tables</li>
    </ol>
  </div>
  <div class="panel-body">
    <table class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable" ui-options="dataTableOpt">
      <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Office</th>
          <th>Age</th>
          <th>Start Date</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
