<div class="panel" data-ng-controller="sweetAlertCtrl">
  <div class="panel-heading border">
    Sweet alert variants
  </div>
  <div class="panel-body">
    <div class="row hidden-xs">
      <div class="col-xs-2">
        <p>Action</p>
      </div>
      <div class="col-xs-10">
        <p>Description</p>
      </div>
    </div>

    <div class="row mb25">
      <div class="col-sm-2">
        <button type="button" class="btn btn-default btn-sm btn-block" data-ng-click="demo1();">
          <span>Launch</span>
        </button>
      </div>
      <div class="col-sm-10">
        <p class="pt5">A basic alert message</p>
      </div>
    </div>

    <div class="row mb25">
      <div class="col-sm-2">
        <button type="button" class="btn btn-default btn-sm btn-block" data-ng-click="demo2();">
          <span>Launch</span>
        </button>
      </div>
      <div class="col-sm-10">
        <p class="pt5">A title with a text under</p>
      </div>
    </div>

    <div class="row mb25">
      <div class="col-sm-2">
        <button type="button" class="btn btn-default btn-sm btn-block" data-ng-click="demo3();">
          <span>Launch</span>
        </button>
      </div>
      <div class="col-sm-10">
        <p class="pt5">A success message!</p>
      </div>
    </div>

    <div class="row mb25">
      <div class="col-sm-2">
        <button type="button" class="btn btn-default btn-sm btn-block" data-ng-click="demo4();">
          <span>Launch</span>
        </button>
      </div>
      <div class="col-sm-10">
        <p class="pt5">A message with auto close timer</p>
      </div>
    </div>

    <div class="row mb25">
      <div class="col-sm-2">
        <button type="button" class="btn btn-default btn-sm btn-block" data-ng-click="demo5();">
          <span>Launch</span>
        </button>
      </div>
      <div class="col-sm-10">
        <p class="pt5">A warning message, with a function attached to the "Confirm"-button...</p>
      </div>
    </div>

    <div class="row mb25">
      <div class="col-sm-2">
        <button type="button" class="btn btn-default btn-sm btn-block" data-ng-click="demo6();">
          <span>Launch</span>
        </button>
      </div>
      <div class="col-sm-10">
        <p class="pt5">... and by passing a parameter, you can execute something else for "Cancel".</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <button type="button" class="btn btn-default btn-sm btn-block" data-ng-click="demo7();">
          <span>Launch</span>
        </button>
      </div>
      <div class="col-sm-10">
        <p class="pt5">A message with a custom icon</p>
      </div>
    </div>
  </div>
</div>
