<div class="climacon-list mb25">

  <div class="row climacon-icon-list">

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon cloud"></i> climacon cloud
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon cloud sun"></i> climacon cloud sun
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon cloud moon"></i> climacon cloud moon
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon rain"></i> climacon rain
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon rain sun"></i> climacon rain sun
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon rain moon"></i> climacon rain moon
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon showers"></i> climacon showers
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon showers sun"></i> climacon showers sun
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon showers moon"></i> climacon showers moon
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon downpour"></i> climacon downpour
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon downpour sun"></i> climacon downpour sun
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon downpour moon"></i> climacon downpour moon
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon drizzle"></i> climacon drizzle
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon drizzle sun"></i> climacon drizzle sun
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon drizzle moon"></i> climacon drizzle moon
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon sleet"></i> climacon sleet
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon sleet sun"></i> climacon sleet sun
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon sleet moon"></i> climacon sleet moon
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon hail"></i> climacon hail
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon hail sun"></i> climacon hail sun
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon hail moon"></i> climacon hail moon
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon flurries"></i> climacon flurries
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon flurries sun"></i> climacon flurries sun
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon flurries moon"></i> climacon flurries moon
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon snow"></i> climacon snow
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon snow sun"></i> climacon snow sun
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon snow moon"></i> climacon snow moon
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon fog"></i> climacon fog
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon fog sun"></i> climacon fog sun
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon fog moon"></i> climacon fog moon
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon haze"></i> climacon haze
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon haze sun"></i> climacon haze sun
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon haze moon"></i> climacon haze moon
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon wind"></i> climacon wind
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon wind cloud"></i> climacon wind cloud
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon wind cloud sun"></i> climacon wind cloud sun
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon wind cloud moon"></i> climacon wind cloud moon
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon lightning"></i> climacon lightning
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon lightning sun"></i> climacon lightning sun
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon lightning moon"></i> climacon lightning moon
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon sun"></i> climacon sun
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon sunset"></i> climacon sunset
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon sunrise"></i> climacon sunrise
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon sun low"></i> climacon sun low
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon sun lower"></i> climacon sun lower
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon moon"></i> climacon moon
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon moon new"></i> climacon moon new
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon moon waxing crescent"></i> climacon moon waxing crescent
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon moon waxing quarter"></i> climacon moon waxing quarter
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon moon waxing gibbous"></i> climacon moon waxing gibbous
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon moon full"></i> climacon moon full
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon moon waning gibbous"></i> climacon moon waning gibbous
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon moon waning quarter"></i> climacon moon waning quarter
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon moon waning crescent"></i> climacon moon waning crescent
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon snowflake"></i> climacon snowflake
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon tornado"></i> climacon tornado
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon thermometer"></i> climacon thermometer
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon thermometer low"></i> climacon thermometer low
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon thermometer medium-low"></i> climacon thermometer medium-low
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon thermometer medium-high"></i> climacon thermometer medium-high
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon thermometer high"></i> climacon thermometer high
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon thermometer full"></i> climacon thermometer full
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon celcius"></i> climacon celcius
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon farenheit"></i> climacon farenheit
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon compass"></i> climacon compass
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon compass north"></i> climacon compass north
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon compass east"></i> climacon compass east
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon compass south"></i> climacon compass south
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon compass west"></i> climacon compass west
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon umbrella"></i> climacon umbrella
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon sunglasses"></i> climacon sunglasses
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon cloud refresh"></i> climacon cloud refresh
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon cloud up"></i> climacon cloud up
      </a>
    </div>

    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <i class="climacon cloud down"></i> climacon cloud down
      </a>
    </div>


  </div>
</div>
