<div class="feather-list mb25">
  <div class="row">
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-eye"></span>
        <span>icon-eye</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-paper-clip"></span>
        <span>icon-paper-clip</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-mail"></span>
        <span>icon-mail</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-toggle"></span>
        <span>icon-toggle</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-layout"></span>
        <span>icon-layout</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-link"></span>
        <span>icon-link</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-bell"></span>
        <span>icon-bell</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-lock"></span>
        <span>icon-lock</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-unlock"></span>
        <span>icon-unlock</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-ribbon"></span>
        <span>icon-ribbon</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-image"></span>
        <span>icon-image</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-signal"></span>
        <span>icon-signal</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-target"></span>
        <span>icon-target</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-clipboard"></span>
        <span>icon-clipboard</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-clock"></span>
        <span>icon-clock</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-watch"></span>
        <span>icon-watch</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-air-play"></span>
        <span>icon-air-play</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-camera"></span>
        <span>icon-camera</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-video"></span>
        <span>icon-video</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-disc"></span>
        <span>icon-disc</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-printer"></span>
        <span>icon-printer</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-monitor"></span>
        <span>icon-monitor</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-server"></span>
        <span>icon-server</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-cog"></span>
        <span>icon-cog</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-heart"></span>
        <span>icon-heart</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-paragraph"></span>
        <span>icon-paragraph</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-align-justify"></span>
        <span>icon-align-justify</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-align-left"></span>
        <span>icon-align-left</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-align-center"></span>
        <span>icon-align-center</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-align-right"></span>
        <span>icon-align-right</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-book"></span>
        <span>icon-book</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-layers"></span>
        <span>icon-layers</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-stack"></span>
        <span>icon-stack</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-stack-2"></span>
        <span>icon-stack-2</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-paper"></span>
        <span>icon-paper</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-paper-stack"></span>
        <span>icon-paper-stack</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-search"></span>
        <span>icon-search</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-zoom-in"></span>
        <span>icon-zoom-in</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-zoom-out"></span>
        <span>icon-zoom-out</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-reply"></span>
        <span>icon-reply</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-circle-plus"></span>
        <span>icon-circle-plus</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-circle-minus"></span>
        <span>icon-circle-minus</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-circle-check"></span>
        <span>icon-circle-check</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-circle-cross"></span>
        <span>icon-circle-cross</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-square-plus"></span>
        <span>icon-square-plus</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-square-minus"></span>
        <span>icon-square-minus</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-square-check"></span>
        <span>icon-square-check</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-square-cross"></span>
        <span>icon-square-cross</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-microphone"></span>
        <span>icon-microphone</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-record"></span>
        <span>icon-record</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-skip-back"></span>
        <span>icon-skip-back</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-rewind"></span>
        <span>icon-rewind</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-play"></span>
        <span>icon-play</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-pause"></span>
        <span>icon-pause</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-stop"></span>
        <span>icon-stop</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-fast-forward"></span>
        <span>icon-fast-forward</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-skip-forward"></span>
        <span>icon-skip-forward</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-shuffle"></span>
        <span>icon-shuffle</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-repeat"></span>
        <span>icon-repeat</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-folder"></span>
        <span>icon-folder</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-umbrella"></span>
        <span>icon-umbrella</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-moon"></span>
        <span>icon-moon</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-thermometer"></span>
        <span>icon-thermometer</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-drop"></span>
        <span>icon-drop</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-sun"></span>
        <span>icon-sun</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-cloud"></span>
        <span>icon-cloud</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-cloud-upload"></span>
        <span>icon-cloud-upload</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-cloud-download"></span>
        <span>icon-cloud-download</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-upload"></span>
        <span>icon-upload</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-download"></span>
        <span>icon-download</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-location"></span>
        <span>icon-location</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-location-2"></span>
        <span>icon-location-2</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-map"></span>
        <span>icon-map</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-battery"></span>
        <span>icon-battery</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-head"></span>
        <span>icon-head</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-briefcase"></span>
        <span>icon-briefcase</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-speech-bubble"></span>
        <span>icon-speech-bubble</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-anchor"></span>
        <span>icon-anchor</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-globe"></span>
        <span>icon-globe</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-box"></span>
        <span>icon-box</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-reload"></span>
        <span>icon-reload</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-share"></span>
        <span>icon-share</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-marquee"></span>
        <span>icon-marquee</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-marquee-plus"></span>
        <span>icon-marquee-plus</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-marquee-minus"></span>
        <span>icon-marquee-minus</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-tag"></span>
        <span>icon-tag</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-power"></span>
        <span>icon-power</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-command"></span>
        <span>icon-command</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-alt"></span>
        <span>icon-alt</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-esc"></span>
        <span>icon-esc</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-bar-graph"></span>
        <span>icon-bar-graph</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-bar-graph-2"></span>
        <span>icon-bar-graph-2</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-pie-graph"></span>
        <span>icon-pie-graph</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-star"></span>
        <span>icon-star</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-arrow-left"></span>
        <span>icon-arrow-left</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-arrow-right"></span>
        <span>icon-arrow-right</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-arrow-up"></span>
        <span>icon-arrow-up</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-arrow-down"></span>
        <span>icon-arrow-down</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-volume"></span>
        <span>icon-volume</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-mute"></span>
        <span>icon-mute</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-content-right"></span>
        <span>icon-content-right</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-content-left"></span>
        <span>icon-content-left</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-grid"></span>
        <span>icon-grid</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-grid-2"></span>
        <span>icon-grid-2</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-columns"></span>
        <span>icon-columns</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-loader"></span>
        <span>icon-loader</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-bag"></span>
        <span>icon-bag</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-ban"></span>
        <span>icon-ban</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-flag"></span>
        <span>icon-flag</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-trash"></span>
        <span>icon-trash</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-expand"></span>
        <span>icon-expand</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-contract"></span>
        <span>icon-contract</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-maximize"></span>
        <span>icon-maximize</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-minimize"></span>
        <span>icon-minimize</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-plus"></span>
        <span>icon-plus</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-minus"></span>
        <span>icon-minus</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-check"></span>
        <span>icon-check</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-cross"></span>
        <span>icon-cross</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-move"></span>
        <span>icon-move</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-delete"></span>
        <span>icon-delete</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-menu"></span>
        <span>icon-menu</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-archive"></span>
        <span>icon-archive</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-inbox"></span>
        <span>icon-inbox</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-outbox"></span>
        <span>icon-outbox</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-file"></span>
        <span>icon-file</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-file-add"></span>
        <span>icon-file-add</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-file-subtract"></span>
        <span>icon-file-subtract</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-help"></span>
        <span>icon-help</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-open"></span>
        <span>icon-open</span>
      </a>
    </div>
    <div class="fa-hover col-md-3 col-sm-4">
      <a href="javascript:;">
        <span class="icon-ellipsis"></span>
        <span>icon-ellipsis</span>
      </a>
    </div>
  </div>
</div>
