<div class="row" data-ng-controller="sliderCtrl">
  <div class="col-sm-6">
    <div class="panel">
      <div class="panel-heading border">
        Slider variants
      </div>
      <div class="panel-body">
        <p>Basic slider</p>
        <div class="slider" ui-jq="slider" ui-options="sliderOpt1"></div>
        <br/>

        <p>Range sliders</p>
        <div class="slider slider-primary" ui-jq="slider" ui-options="sliderOpt2"></div>
        <br>

        <p>Rounded handlers</p>
        <div class="slider slider-danger rounded-handler" ui-jq="slider" ui-options="sliderOpt3"></div>
      </div>
    </div>

    <div class="panel">
      <div class="panel-heading border">
        Vertical sliders
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-3">
            <div class="slider" ui-jq="slider" ui-options="sliderOpt4"></div>
          </div>
          <div class="col-xs-3">
            <div class="slider slider-danger rounded-handler" ui-jq="slider" ui-options="sliderOpt5"></div>
          </div>
          <div class="col-xs-3">
            <div class="slider slider-primary" ui-jq="slider" ui-options="sliderOpt6"></div>
          </div>
          <div class="col-xs-3">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel">
      <div class="panel-heading border">
        Slider color options
      </div>
      <div class="panel-body">
        <div class="sliders mb25">
          <div class="slider slider-default" ui-jq="slider" ui-options="sliderOpt1"></div>
          <br/>
          <div class="slider slider-primary" ui-jq="slider" ui-options="sliderOpt7"></div>
          <br/>
          <div class="slider slider-info" ui-jq="slider" ui-options="sliderOpt8"></div>
          <br/>
          <div class="slider slider-warning" ui-jq="slider" ui-options="sliderOpt9"></div>
          <br/>
          <div class="slider slider-danger" ui-jq="slider" ui-options="sliderOpt10"></div>
          <br/>
          <div class="slider slider-success" ui-jq="slider" ui-options="sliderOpt11"></div>
        </div>

        <hr/>

        <div class="sliders mb25">
          <div class="row">
            <div class="col-xs-4 col-sm-2">
              <div class="slider slider-default" ui-jq="slider" ui-options="sliderOpt12"></div>
            </div>
            <div class="col-xs-4 col-sm-2">
              <div class="slider slider-primary" ui-jq="slider" ui-options="sliderOpt13"></div>
            </div>
            <div class="col-xs-4 col-sm-2">
              <div class="slider slider-info" ui-jq="slider" ui-options="sliderOpt14"></div>
            </div>
            <div class="col-xs-4 col-sm-2">
              <div class="slider slider-warning" ui-jq="slider" ui-options="sliderOpt15"></div>
            </div>
            <div class="col-xs-4 col-sm-2">
              <div class="slider slider-danger" ui-jq="slider" ui-options="sliderOpt16"></div>
            </div>
            <div class="col-xs-4 col-sm-2">
              <div class="slider slider-success" ui-jq="slider" ui-options="sliderOpt17"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
