<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="widget bg-white">
      <div class="widget-icon bg-blue pull-left fa fa-microphone">
      </div>
      <div class="overflow-hidden">
        <span class="widget-title">8,372K</span>
        <span class="widget-subtitle">Registered users</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="widget bg-white">
      <div class="widget-icon bg-danger pull-left fa fa-tint">
      </div>
      <div class="overflow-hidden">
        <span class="widget-title percent">86</span>
        <span class="widget-subtitle">Revenue increase</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="widget bg-white">
      <div class="widget-icon bg-success pull-left fa fa-paper-plane">
      </div>
      <div class="overflow-hidden">
        <span class="widget-title">7,355K</span>
        <span class="widget-subtitle">Pending orders</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="widget bg-white">
      <div class="widget-icon bg-purple pull-left fa fa-envelope">
      </div>
      <div class="overflow-hidden">
        <span class="widget-title">7,834K</span>
        <span class="widget-subtitle">Messages</span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="widget bg-primary">
      <div class="widget-bg-icon">
        <i class="fa fa-bookmark-o"></i>
      </div>
      <div class="widget-details">
        <span class="block h4 mt0 mb5">4,894K</span>
        <span>Parks and recreation</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="widget bg-info">
      <div class="widget-bg-icon">
        <i class="fa fa-tag"></i>
      </div>
      <div class="widget-details">
        <span class="block h4 mt0 mb5">$785</span>
        <span>Sales</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="widget bg-cyan">
      <div class="widget-bg-icon">
        <i class="fa fa-lemon-o"></i>
      </div>
      <div class="widget-details">
        <span class="block h4 mt0 mb5">8769</span>
        <span>New visitors</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="widget bg-blue">
      <div class="widget-bg-icon">
        <i class="fa fa-paint-brush"></i>
      </div>
      <div class="widget-details">
        <span class="block h4 mt0 mb5">32,893K</span>
        <span>Shops worldwide</span>
      </div>
    </div>
  </div>
</div>

<div class="row" ui-jq="checkBo">
  <div class="col-sm-3">
    <div class="widget bg-white todo">
      <div class="todo-title">
        Todos
      </div>

      <div class="todo-body">
        <ul class="list-unstyled">
          <li>
            <label class="cb-checkbox cb-sm">
              <input type="checkbox" name="todo" value="1" />Print out fliers
            </label>
          </li>
          <li>
            <label class="cb-checkbox cb-sm">
              <input type="checkbox" name="todo" value="2" />Generate loads of ipsum
            </label>
          </li>
          <li>
            <label class="cb-checkbox cb-sm">
              <input type="checkbox" name="todo" value="3" />Take out the trash
            </label>
          </li>
        </ul>
      </div>

      <div class="todo-footer">
        <strong><span class="count-todos">3</span></strong> Items Left
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="widget bg-cyan todo">
      <div class="todo-title">
        Todos
      </div>

      <div class="todo-body checkbo">
        <ul class="list-unstyled">
          <li>
            <label class="cb-checkbox cb-sm no-border">
              <input type="checkbox" name="todo" value="1" />Print out fliers
            </label>
          </li>
          <li>
            <label class="cb-checkbox cb-sm no-border">
              <input type="checkbox" name="todo" value="2" />Generate loads of ipsum
            </label>
          </li>
          <li>
            <label class="cb-checkbox cb-sm no-border">
              <input type="checkbox" name="todo" value="3" />Take out the trash
            </label>
          </li>
        </ul>
      </div>

      <div class="todo-footer">
        <strong><span class="count-todos">3</span></strong> Items Left
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="widget bg-blue todo">
      <div class="todo-title">
        Todos
      </div>

      <div class="todo-body checkbo">
        <ul class="list-unstyled">
          <li>
            <label class="cb-checkbox cb-sm no-border">
              <input type="checkbox" name="todo" value="1" />Print out fliers
            </label>
          </li>
          <li>
            <label class="cb-checkbox cb-sm no-border">
              <input type="checkbox" name="todo" value="2" />Generate loads of ipsum
            </label>
          </li>
          <li>
            <label class="cb-checkbox cb-sm no-border">
              <input type="checkbox" name="todo" value="3" />Take out the trash
            </label>
          </li>
        </ul>
      </div>

      <div class="todo-footer">
        <strong><span class="count-todos">3</span></strong> Items Left
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="widget bg-info todo">
      <div class="todo-title">
        Todos
      </div>

      <div class="todo-body checkbo">
        <ul class="list-unstyled">
          <li>
            <label class="cb-checkbox cb-sm no-border">
              <input type="checkbox" name="todo" value="1" />Print out fliers
            </label>
          </li>
          <li>
            <label class="cb-checkbox cb-sm no-border">
              <input type="checkbox" name="todo" value="2" />Generate loads of ipsum
            </label>
          </li>
          <li>
            <label class="cb-checkbox cb-sm no-border">
              <input type="checkbox" name="todo" value="3" />Take out the trash
            </label>
          </li>
        </ul>
      </div>

      <div class="todo-footer">
        <strong><span class="count-todos">3</span></strong> Items Left
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <section class="widget bg-lightblue">
      <div class="widget-details">
        <a href="javascript:;" class="pull-left relative">
          <img data-ng-src="images/avatar.jpg" class="avatar avatar-sm img-circle bordered" alt="">
          <div class="status bg-lightblue border-white mt5" data-animation="rubberBand"></div>
        </a>
      </div>
      <div class="widget-details">
        <span class="h5 bold">Samuel Perkins</span>
        <small class="block">San Francisco, CA</small>
        <small class="block">Interactive UX Developer</small>
      </div>
    </section>
  </div>
  <div class="col-md-3">
    <section class="widget bg-brown text-center">
      <div class="widget-details">
        <span class="h2">14°C</span>
        <p class="text-uppercase small text-white">San Francisco, CA</p>
      </div>
      <div class="widget-details">
        <div class="climacon hail sun fa-3x"></div>
      </div>
    </section>
  </div>
  <div class="col-md-3">
    <div class="widget bg-white">
      <div class="text-info h5 mt0 mb0">56780</div>
      <div class="small text-uppercase">subscribers</div>
      <div class="absolute tp rt pt15 pr15">
        <div class="text-success">
          <i class="fa fa-caret-up"></i>
          <span>6%</span>
        </div>
        <div class="small">+897</div>
      </div>
      <p class="pt5 text-muted small">Donec ullamcorper nulla non metus auctor.</p>
    </div>
  </div>
  <div class="col-md-3">
    <section class="widget text-center">
      <div class="widget-details">
        <span class="h2">14°C</span>
        <p class="text-uppercase small">San Francisco, CA</p>
      </div>
      <div class="widget-details">
        <div class="climacon hail sun fa-3x"></div>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="widget widget-weather bg-white">
      <div class="widget-weather-icon climacon wind cloud sun"></div>
      <div class="mb15">
        <strong>San Francisco, CA</strong>
      </div>
      <div class="widget-weather-footer">
        <div>
          <div class="small">MON</div>
          <div class="climacon drizzle sun text-warning"></div>
          <div class="degree-value">45°</div>
        </div>
        <div>
          <div class="small">TUE</div>
          <div class="climacon snow sun text-danger"></div>
          <div class="degree-value">42°</div>
        </div>
        <div>
          <div class="small">WED</div>
          <div class="climacon haze sun text-info"></div>
          <div class="degree-value">37°</div>
        </div>
        <div>
          <div class="small">THU</div>
          <div class="climacon hail text-primary"></div>
          <div class="degree-value">23°</div>
        </div>
        <div>
          <div class="small">FRI</div>
          <div class="climacon fog moon"></div>
          <div class="degree-value">34°</div>
        </div>
        <div>
          <div class="small">SAT</div>
          <div class="climacon tornado text-success"></div>
          <div class="degree-value">12°</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="widget bg-white no-padding">
      <a href="javascript:;" class="block text-center relative p15">
        <img data-ng-src="images/avatar.jpg" class="avatar avatar-lg img-circle" alt="">
        <div class="h5 mb0"><strong>Samuel Perkins</strong>
        </div>
      </a>

      <div class="widget bg-blue mb0 text-center no-radius">
        <div class="widget-details">
          <div class="h5 no-margin">782</div>
          <div class="small bold text-uppercase">Followers</div>
        </div>

        <div class="widget-details">
          <div class="h5 no-margin">8,234</div>
          <div class="small bold text-uppercase">Following</div>
        </div>

        <div class="widget-details">
          <div class="h5 no-margin">290,847</div>
          <div class="small bold text-uppercase">Likes</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="widget bg-white">
      <div class="p10 text-center">
        <h6 class="text-uppercase">Page Views</h6>
        <div class="mt15">
          <h1 class="text-primary">512k+</h1>
          <small>Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">

    <div class="widget bg-danger-light">
      <div class="text-uppercase">
        <strong>New update</strong>
      </div>
      <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Frater et T. Sed ad bona praeterita redeamus.
      </p>

      <a href="javascript:;" class="btn btn-danger mt5">Download Now</a>
    </div>

    <div class="widget bg-lightblue">
      <div class="widget-bg-icon">
        <i class="fa fa-bookmark-o"></i>
      </div>
      <div class="widget-details">
        <span class="block h4 mt0 mb5">4,894K</span>
        <span>Parks and recreation</span>
        <progressbar value="40" type="info" class="widget-progress"></progressbar>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <section class="widget bg-white post-comments">
          <div class="media">
            <a class="pull-left" href="javascript:;">
              <img class="media-object avatar avatar-sm" data-ng-src="images/avatar.jpg" alt="">
            </a>
            <div class="comment">
              <div class="comment-author h6 no-margin">
                <div class="comment-meta small">May 2015, 19:20</div>
                <a href="javascript:;"><strong>Samuel Perkins</strong></a>

                <ul class="text-white list-style-none mb0">
                  <li class="fa fa-star text-warning"></li>
                  <li class="fa fa-star text-warning"></li>
                  <li class="fa fa-star text-warning"></li>
                  <li class="fa fa-star text-warning"></li>
                  <li class="fa fa-star text-warning"></li>
                </ul>
              </div>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Frater et T. Sed ad bona praeterita redeamus.
              </p>
            </div>
          </div>

          <hr>


          <div class="media">
            <a class="pull-left" href="javascript:;">
              <img class="media-object avatar avatar-sm" data-ng-src="images/face1.jpg" alt="">
            </a>
            <div class="comment">
              <div class="comment-author h6 no-margin">
                <div class="comment-meta small">May 2015, 19:20</div>
                <a href="javascript:;"><strong>Adam Robertson</strong></a>
              </div>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Frater et T. Sed ad bona praeterita redeamus.
              </p>
            </div>
          </div>

          <hr>

          <div class="media">
            <a class="pull-left" href="javascript:;">
              <img class="media-object avatar avatar-sm" data-ng-src="images/face5.jpg" alt="">
            </a>
            <div class="comment">
              <div class="comment-author h6 no-margin">
                <div class="comment-meta small">May 2015, 19:20</div>
                <a href="javascript:;"><strong>Christina Day</strong></a>

                <ul class="text-white list-style-none mb0">
                  <li class="fa fa-star text-warning"></li>
                  <li class="fa fa-star text-warning"></li>
                  <li class="fa fa-star text-warning"></li>
                  <li class="fa fa-star"></li>
                  <li class="fa fa-star"></li>
                </ul>
              </div>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Frater et T. Sed ad bona praeterita redeamus.
              </p>
            </div>
          </div>

        </section>
      </div>
    </div>
  </div>
</div>
